/* PivotGrid CSS file */

.OLAPDataGridStyle {
   headerColors: #ffffff, #ffffff;
   horizontalGridLines: false;
   verticalGridLines: true;
   borderThickness: 1;
   borderColor: #000099;
   textIndent: 0;
   dropShadowEnabled: false;
   headerStyleName: "mydataGridHeaderStyle";
}
.olapRow,.olapCol{
    color: blue;
   fontFamily: Calibri;
   fontWeight: bold;
   fontSize: 14;
}
.crumbItem{
    color: blue;
   fontFamily: Arial;
   fontWeight: bold;
   fontSize: 12;
}
.mydataGridHeaderStyle {
   color: #000099;
   fontFamily: Arial;
   fontWeight: bold;
   fontSize: 11;
   fontStyle: normal;
   textDecoration: none;
   letterSpacing: 0;
}

   
.CubeTree {
   backgroundAlpha: 0.64;
   backgroundColor: #ffffff;
   alternatingItemColors: #ffffff, #ffffff;
   headerColors: #ffffff, #ffffff;
   verticalGridLines: true;
   verticalGridLineColor: #000099;
   borderThickness: 0;
   borderColor: #b7babc;
   textIndent: 0;
 
}
.selectorUI {
   cornerRadius: 0;
   borderColor: #000099;
   highlightAlphas: 0, 0;
   fillAlphas: 0, 0, 0, 0;
   backgroundAlpha: 1;
   textAlign: center;
   fontFamily: Calibri;
   fontSize: 14;
}
.selectorUILongLabel {
   cornerRadius: 0;
   borderColor: #000099;
   highlightAlphas: 0, 0;
   fillAlphas: 0, 0, 0, 0;
   backgroundAlpha: 1;
   textAlign: center;
   fontFamily: Calibri;
   fontSize: 10;
}

.headers {
   fontFamily: Calibri;
   fontSize: 18;
     borderColor: #0099ff;
   borderThickness: 1;
 
}
.dropArea{
    
}
.errorPanel {
   fontFamily: Comic Sans MS;
   fontSize: 12;
   fontWeight: normal;
   textAlign: center;
   paddingLeft: 4;
   paddingRight: 4;
   leading: 0;
   textIndent: 0;
   backgroundAlpha: 1;
   borderStyle: solid;
   borderColor: #990000;
   borderThickness: 3;
   cornerRadius: 10;
   dropShadowEnabled: true;
}
.messagePanel {
   fontFamily: Comic Sans MS;
   fontSize: 12;
   fontWeight: normal;
   textAlign: center;
   paddingLeft: 4;
   paddingRight: 4;
   leading: 0;
   textIndent: 0;
   backgroundAlpha: 1;
   borderStyle: solid;
   borderColor: blue;
   borderThickness: 3;
   cornerRadius: 10;
   dropShadowEnabled: true;
}

