/* OLAP Grid CSS */

    .OlapGridPod
    {
        /* backgroundColor: #333333; */
        /* color:           #ffffff;   */ 
    }
            
    .OlapMenuBar 
    {
        cornerRadius: 0;
        letterSpacing: 0;
        backgroundAlpha: 1;
        backgroundColor: #99ffcc;
        highlightAlphas: 0.14, 0;
        fillColors: #00ccff, #0066ff;
        color: #ffffff;
        fontFamily: Calibri;
        fontSize: 14;
        fontWeight: bold;
        textIndent: 0;
    }
      
    .OlapTabNavigator
    {
        horizontalGap: 1;
        horizontalAlign: left;
        tabOffset: 1;
        borderStyle: solid;
        borderColor: #000000;
        borderThickness: 2;
        dropShadowEnabled: true;
        tabStyleName: "myTabs";
        firstTabStyleName: "myTabs";
        lastTabStyleName: "myTabs";
        selectedTabTextStyleName: "mySelectedTabs";
        backgroundColor: #ffffff;
        color:           #000000;    
    }
      
    .myTabs
    {
        cornerRadius: 2;
        fillAlphas: 0.6, 1;
        borderColor: #000000;
        textAlign: left;
        fontFamily: Calibri;
        fontSize: 14;
        fontWeight: bold;
        fontStyle: italic;      
    }
      
    .mySelectedTabs 
    {
    }
      
    .OlapButton
    {
        cornerRadius: 0;
        highlightAlphas: 0.64, 0;
        fontFamily: Calibri;
        fontSize: 12;
    }
      
    .DimensionTree 
    {
        borderStyle: none;
        selectionDuration: 750;
        dropShadowEnabled: false;
        fontFamily: Calibri;
        fontSize: 12;
        color: #000000;
    }
      
    .OlapLabel
    {
        fontFamily: Calibri;
        fontSize: 16;
        fontWeight: normal;
    }

    .WhiteLabel
    {
        fontFamily: Calibri;
        fontSize: 16;
        color: #ffffff;
        fontWeight: normal;
    }
   
    .OlapComboBox 
    {
        cornerRadius: 0;
        dropDownStyleName: "myComboBoxDropDowns";
        color:             #000000; 
        selectionColor:    #b0b0b0;
        rollOverColor:     #b0b0b0;         
    }
      
    .myComboBoxDropDowns
    {
        cornerRadius: 0;
    }

    .errorPanel 
    {
        fontFamily: Comic Sans MS;
        fontSize: 12;
        fontWeight: normal;
        textAlign: center;
        paddingLeft: 4;
        paddingRight: 4;
        leading: 0;
        textIndent: 0;
        backgroundAlpha: 1;
        borderStyle: solid;
        borderColor: #990000;
        borderThickness: 3;
        cornerRadius: 10;
        dropShadowEnabled: true;
    }
  
    .CubeTree
    {
        backgroundAlpha: 0.64;
        backgroundColor: #ffffff;
        alternatingItemColors: #ffffff, #ffffff;
        headerColors: #ffffff, #ffffff;
        verticalGridLines: true;
        verticalGridLineColor: #000099;
        borderThickness: 0;
        borderColor: #000000;
        textIndent: 0;
        color: #000000;
    }

