
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace s "library://ns.adobe.com/flex/spark";

/* flexibledashboard+browser specific styles */

s|Application
{
	background-color: #666666;
}

