
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace s "library://ns.adobe.com/flex/spark";
@namespace pod "com.esria.samples.dashboard.view.*";
@namespace mdi "flexlib.mdi.containers.*";
@namespace charts "mx.charts.chartClasses.*";

/* flexibledashboard+browser and flexibledashboard+air shared styles */

.mainButton
{
	chromeColor: #666666;
}

.viewTabs
{
    tabHeight:                35;
    horizontalGap:            0;  
    selectedTabTextStyleName: selectedTabText;
	chromeColor: #666666;
}

.maximizeRestoreButton
{
	up-skin:        	Embed("/assets/maximize_up.png");
	over-skin:      	Embed("/assets/maximize_over.png");
	down-skin:      	Embed("/assets/maximize_up.png");
	selected-up-skin:   Embed("/assets/restore_up.png");
	selected-over-skin: Embed("/assets/restore_over.png");
	selected-down-skin: Embed("/assets/restore_up.png");
}

.minimizeButton
{
	up-skin:        Embed("/assets/minimize_up.png");
	over-skin:      Embed("/assets/minimize_over.png");
	down-skin:      Embed("/assets/minimize_up.png");
}

pod|Pod
{
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	/*halo only rounded-bottom-corners: false; */
	/* halo only border-thickness: 1px; */
	border-style: solid;
	border-color: #000000;
	/* halo only header-colors: #666666, #666666; */
	/* halo only highlight-alphas: .9, 0; */
	corner-radius: 0px;
	header-height: 22px;
	/* halo only shadow-direction: right; */
	/* halo only drop-shadow-color: #999999; */
    /* color:        #ffffff; */    
    /* backgroundColor: #333333; */	
}

.podTitle
{
	font-size: 11px;
	font-family: arial;
	font-weight: bold;
}

pod|DragHighlight
{
	border-color: #CCCCCC;
	border-thickness: 3px;
	border-style: solid;
	background-color: #333333;
}

mdi|MDICanvas
{
	background-color: #666666;
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 4px;	
}

mdi|MDIWindow
{
	background-color: #666666;
}

.leftArrowButton
{
	up-skin:		Embed("/assets/left_arrow_up.gif");
	over-skin:		Embed("/assets/left_arrow_over.gif");
	down-skin:		Embed("/assets/left_arrow_up.gif");
	disabled-skin:	Embed("/assets/left_arrow_disabled.gif");
}

.rightArrowButton
{
	up-skin:		Embed("/assets/right_arrow_up.gif");
	over-skin:		Embed("/assets/right_arrow_over.gif");
	down-skin:		Embed("/assets/right_arrow_up.gif");
	disabled-skin:	Embed("/assets/right_arrow_disabled.gif");
}

charts|DataTip
{
	background-color: #ffffff;
	color: 			  #000000;
}

/* start from flexspaces */


.logoText
{
    fontSize: 16;
    color:    #ffffff;      
}

.logoutLink
{
    color: #0E9EE5;
    rollOverColor: #0E9EE5;
    text-decoration: underline;
}

.fileTileListStyle
{
    color:              #000000;
    backgroundColor:    #e6e6e6;
    rollOverColor:      #b0b0b0;
    selectionColor:     #b0b0b0;    
}

.fileGridStyle 
{          
    alternatingItemColors:  #e6e6e6, #dedfde;               
    color:                  #000000; 
    selectionColor:         #b0b0b0;
    rollOverColor:          #b0b0b0; 
    vertical-grid-lines:    false;
    horizontalGridLineColor: #999999;
    horizontalGridLines:    true;
}

.viewTab 
{
    upSkin:                 ClassReference("org.integratedsemantics.flexibledashboard.skin.TabSkin");
    overSkin:               ClassReference("org.integratedsemantics.flexibledashboard.skin.TabSkin");    
    selectedUpSkin:         ClassReference("org.integratedsemantics.flexibledashboard.skin.TabSkin");   
    selectedOverSkin:       ClassReference("org.integratedsemantics.flexibledashboard.skin.TabSkin");    
    color:                  #ffffff;
    tabBackgroundColors:    #6e6e6e, #ffffff;
    tabBackgroundAlphas:    0.0, 1.0;       
}

.selectedTabText
{
    fontSize:               10px;
    fontWeight:             normal;
    color:                  #ffffff;
} 

.viewStyle
{
	background-color: #666666;
} 

.pageNumStyle
{
    color:  #ffffff;      
}

.itemsPerPageStyle
{
    color:  #ffffff;      
}

.pageSizeComboStyle
{
    color:              #000000;  
    textRollOverColor:  #ffffff;     
    textSelectedColor:  #ffffff;
    rollOverColor:      #000000;     
    selectionColor:     #000000;     
}

.tabCloseButtonStyleName
{
    color:              #ff0000;
    backgroundColor:    #000000;
}
